<head>
    <meta charset="UTF-8">
    <meta name="description" content="Лучший сайт о Набокове">
    <meta name="author" content="Никита Иванов">
    <title>Nabokovivian</title>
    <link href="/styles/styles.css" rel="stylesheet">
    <link href="/styles/table.css" rel="stylesheet">
    <script src="/scripts/timeScript.js"></script>
</head>