<head>
    <meta charset="UTF-8">
    <meta name="description" content="Лучший сайт о Набокове">
    <meta name="author" content="Никита Иванов">
    <title>Nabokovivian</title>
    <link href="/styles/styles.css" rel="stylesheet">
    <link href="/styles/table.css" rel="stylesheet">
    <script src="/scripts/timeScript.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/website.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/supertokens.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/session.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/emailpassword.js"></script>

    <script type="module" src="/scripts/authInit.js"></script>
    <script src="/scripts/signUpClicked.js"></script>
    <script src="/scripts/signInClicked.js"></script>
</head>