<header class = "header">
    <img class="logo" src="/Images/Lycaenidae.jpg" alt="logo">
    <h1 class="header_h1">
        <a href="/" class="header_a">Nabokovivian</a>
    {{#if loggedIn}}
    <form>
        <p class ="content_p">Добро пожаловать, {{{user}}}!
            <a class ="content_a">Выйти</a>
        </p>
    </form>
    {{else}}
        <form id="login_form">
            <input type="text" name="name" class="type-1" id="username" placeholder="Логин" required autocomplete="off"/>
            <input type="text" name="name" class="type-1" id="password" placeholder="Пароль" required autocomplete="off"/>
            <button class = "button" id="login" onclick=""> Войти </button>
        </form>
    {{/if}}
    </h1>
</header>