<div class = "menu">
    <nav>
        <ul class = "menu_list">
            <li class="menu_li"><a href="/russian" class = "menu_a">Русский период</a></li>
            <li class="menu_li"><a href="/american" class = "menu_a">Американский период</a></li>
            <li class="menu_li"><a href="/comments" class = "menu_a">Комментарии</a></li>
            <li class="menu_li"><a href="/approvelist" class = "menu_a">Предложить книгу</a></li>
        </ul>
    </nav>
</div>