<section>
    <article class="content_article">
        <h2 class = content_h2>Книги на одобрение</h2>
        <table id = "table" class = "table">
            <thead>
            <tr class="tr tr-header">
                <th>Название</th>
                <th>Автор</th>
                <th>Описание</th>
                <th>Одобрить</th>
            </tr>
            </thead>
        </table>
    </article>
</section>
<img id = "preloader" class="picture" src="Images/loading.gif">
<script src="scripts/getAmericanBooksAdmin.js"></script>