<section>
    <article class="content_article">
        <h2 class = content_h2>Американский период (1940 - 1977)</h2>
        <table class = "table">
            <tr class="tr tr-header">
                <th>Название</th>
                <th>Автор</th>
                <th>Комментарий</th>
            </tr>
            <tr class="tr tr-odd">
                <td>"Владимир Набоков. Американские годы"</td>
                <td>Б. Бойд</td>
                <td>Вторая часть дефинитивной биографии Набокова, от эмиграции в Америку до смерти</td>
            </tr>
            <tr class="tr tr-even">
                <td>"Миры и антимиры Владимира Набокова"</td>
                <td>Д.Б. Джонсон</td>
                <td>Труд, рассматривающий особенности набоковской прозы в первую очередь на поздних произведениях</td>
            </tr>
            <tr class="tr tr-odd">
                <td>""Ада" Набокова: место сознания"</td>
                <td>Б. Бойд</td>
                <td>Возможно, лучшее и наиболее глубокое исследование всего набоковедения, посвященное самому трудному и разветвленному роману автора</td>
            </tr>
            <tr class="tr tr-even">
                <td>"Набоков и неопределенность. Случай "Истинной жизни Себастьяна Найта""</td>
                <td>П. Мейер</td>
                <td>Работа о первом английском романе Набокова</td>
            </tr>
        </table>
    </article>
</section>