<link href="styles/form.css" rel="stylesheet">
<script src="scripts/saveBook.js"></script>
<script>
    const socket = io('https://ivnik20-web.onrender.com/');

    socket.on('msgToClient', (message) => {
        receive(message);
    });

    function sendMsg(message) {
        socket.emit('msgToServer', message);
    }

    function receive(count) {
        const click_counter = document.getElementById('click_counter');
        click_counter.innerText =
                'Уже предложено книг: ' + count;
    }
</script>

<h2 class="content_h2">Предложить книгу для добавления:</h2>
<form>
    <input type="text" class="type-1 book_form" id="author" placeholder="Автор" required autocomplete="off"/>
    <select id="categories">
        <option selected="selected">Выберите категорию</option>
    </select>
    <input type="text" class="type-1 book_form" id="book" placeholder="Название книги" required autocomplete="off"/>
    <textarea name="description" rows="2" class="type-1 book_form" id="comment" placeholder="Комментарий" required autocomplete="off"></textarea>
</form>
<button class = "button" id="submit" onclick="sendMsg('Hello'); saveBook({{loggedUser.id}})"> Отправить </button>
<h2 class="content_h2" id = "click_counter"></h2>
<article class="content_article">
<table id="table" class="table">
    <thead>
    <tr class="tr-header tr">
        <th>Автор</th>
        <th>Категория</th>
        <th>Название</th>
        <th>Комментарий</th>
        <th>Предложил</th>
    </tr>
    </thead>
</table>
</article>
<img id = "preloader" class="picture" src="Images/loading.gif">
<script src="scripts/getUnapproved.js"></script>
<script src="scripts/getCategories.js"></script>