<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="styles/swiper.css">
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="Images/Nabokov.png" alt="Nabokov picture" class="swiper-lazy"/>
        </div>
        <div class="swiper-slide">
            <img src="Images/Nabokov2.jpg" alt="Nabokov picture" class="swiper-lazy"/>
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
        <div class="swiper-slide">
            <img src="Images/Nabokov3.jpg" alt="Nabokov picture" class="swiper-lazy"/>
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
        <div class="swiper-slide">
            <img src="Images/Nabokov4.jpg" alt="Nabokov picture" class="swiper-lazy"/>
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
        <div class="swiper-slide">
            <img src="Images/Nabokov5.jpg" alt="Nabokov picture" class="swiper-lazy"/>
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="scripts/swiper.js"></script>