<section>
    <article class="content_article">
        <h2 class = content_h2>Русский период (1916 - 1939)</h2>
        <table class = "table">
            <tr class="tr tr-header">
                <th>Название</th>
                <th>Автор</th>
                <th>Комментарий</th>
            </tr>
            <tr class="tr tr-odd">
                <td>"Прочтение Набокова"</td>
                <td>А. Бабиков</td>
                <td>Дает отличное представление о ранней поре творчества писателя - его стихах, поэмах и пьесах, в которых уже проявляются основные набоковские мотивы</td>
            </tr>
            <tr class="tr tr-even">
                <td>"Истинная жизнь писателя Сирина"</td>
                <td>А. Долинин</td>
                <td>Монография, рассматривающая все русские романы писателя, а также часть повестей, рассказов и неоконченных произведений</td>
            </tr>
            <tr class="tr tr-odd">
                <td>"Владимир Набоков. Русские годы"</td>
                <td>Б. Бойд</td>
                <td>Первая часть дефинитивной биографии Набокова, от рождения до отплытия в Америку в 1940 году</td>
            </tr>
            <tr class="tr tr-even">
                <td>"Сочинение Набокова"</td>
                <td>Г. Барабтарло</td>
                <td>Среди многих произведений Набокова, рассматриваемых Барбтарло в этой книге, приисутствуют и знаковые вещи русского периода - например, "Приглашение на казнь" и "Волшебник"</td>
            </tr>
            <tr class="tr tr-odd">
                <td>"Комментарий к роману Владимира Набокова "Дар""</td>
                <td>А. Долинин</td>
                <td>Полный литературоведческий комментарий к последнему завершенному русскому роману Набокова</td>
            </tr>
        </table>
    </article>
</section>