* {
    box-sizing: border-box;
}

.book_form {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit] {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

select {
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    float: right;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    float: right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}